<%= form_with(model: ex_rate, local: true) do |form| %>
  <% if ex_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ex_rate.errors.count, "error") %> prohibited this ex_rate from being saved:</h2>

      <ul>
      <% ex_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :m1 %>
    <%= form.number_field :m1, id: :ex_rate_m1 %>
  </div>

  <div class="field">
    <%= form.label :m2 %>
    <%= form.number_field :m2, id: :ex_rate_m2 %>
  </div>

  <div class="field">
    <%= form.label :m1c %>
    <%= form.text_field :m1c, id: :ex_rate_m1c %>
  </div>

  <div class="field">
    <%= form.label :m2c %>
    <%= form.text_field :m2c, id: :ex_rate_m2c %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :ex_rate_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
