<p id="notice"><%= notice %></p>

<h1>Sfutures</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Time</th>
      <th>Selling price</th>
      <th>Price per share</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sfutures.each do |sfuture| %>
      <tr>
        <td><%= sfuture.stock.name %></td>
        <td><%= sfuture.time %></td>
        <td><%= sfuture.selling_price %></td>
        <td><%= sfuture.price_per_share %></td>
        <td><%= sfuture.created_at %></td>
        <td><%= link_to 'Show', sfuture %></td>
        <td><%= link_to 'Edit', edit_sfuture_path(sfuture) %></td>
        <td><%= link_to 'Destroy', sfuture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sfuture', new_sfuture_path %>
