<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @sfuture.stock %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sfuture.time %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @sfuture.selling_price %>
</p>

<p>
  <strong>Price per share:</strong>
  <%= @sfuture.price_per_share %>
</p>

<%= link_to 'Edit', edit_sfuture_path(@sfuture) %> |
<%= link_to 'Back', sfutures_path %>
